mixin breadcrumbs(...items)

    .b-menu-breadcrumbs
        a.b-menu-breadcrumbs__item(href='/') Главная

        each item in items

            if item == items[items.length - 1]
                |  —&nbsp;
                span.b-menu-breadcrumbs__item.b-menu-breadcrumbs__item--last= item

            else
                |  —&nbsp;
                a.b-menu-breadcrumbs__item= item

mixin breadcrumbsNew(title, ...items)

    .breadcrumbs

        .container

            .breadcrumbs-wrapper

                .breadcrumbs-inner

                    .breadcrumbs-item
                        a(href='/') Главная

                    each item in items

                        if item == items[items.length - 1]
                            span.breadcrumbs-separator —
                            .breadcrumbs-item
                                span= item

                        else
                            span.breadcrumbs-separator —
                            .breadcrumbs-item
                                a(href="#")= item

                .breadcrumbs-home-wrap
                    a.breadcrumbs-home(href="javascript:history.back()")
                        i.far.fa-arrow-left
                        span Назад

            if title != ''
                h1.page-title= title